<!--

表彰状登録テンプレート

-->

<body class="A4">
<script type="text/javascript" src="/js/jquery-barcode.js"></script>

{{#each certificates}}
<section class="sheet padding-10mm" align="center" valign="middle">
  <div class="certificatename">
    {{myouji}}　{{namae}}　{{namae2}}
  </div>
  <!--
  <div class="certificatetime">
    {{tminute}}分{{tsec}}秒
  </div>
  -->
</section>
{{/each}}
<script type="text/javascript" src="/js/certificaet.js"></script>
</body>
