<!--

表彰状登録テンプレート

-->

<body class="A4 landscape">
<script type="text/javascript" src="/js/jquery-barcode.js"></script>

{{#each certificates}}
<section class="sheet padding-10mm" align="center" valign="middle">
  <div class="certificatename">
    {{myouji}}{{namae}}
  </div>
  <div class="certificatename2">
    {{myouji2}}{{namae2}}
  </div>
  <div class="certificatetime">
    {{tminute}}<br>分<br>{{tsec}}<br>秒<br>{{tmilisec}}
  </div>
</section>
{{/each}}
<script type="text/javascript" src="/js/certificaet.js"></script>
</body>
