<!--

   エントリーリストテンプレート

-->

<script src="/js/entry.js"></script>
<script type="text/javascript" src="/js/printcard.js"></script>
<script type="text/javascript" src="/js/table2csv.js"></script>
<script type="text/javascript" src="/js/jquery.redirect.js"></script>
<script type="text/javascript" src="/js/decimal.min.js"></script>
<script type="text/javascript" src="/js/aqsysCoder.js" ></script>

<input class="hidden" type="text" id="variable-handler" name="variable-handler" value="{{configString}}" disabled/>

<h2 class="page-header">Entry List</h2>
<hr>

<div class="well table-responsive" width="100%">
  <table class="table table-condensed" id="entrylist">
    <thead>
      <tr align="center">
        <th class="hidden-xs">編集</th>
        <th>#<br></th>
        <th>cate<br/>
          <div class="dropdown dropdown-cate-search" id="dropdown-cate-search">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="entry-cate-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </button>
            <ul class="dropdown-menu no-csv-output" aria-labelledby="entry-cate-search">
              <li name=0><a><span class="caret"></span></a></li>
              {{#each cateList}}
              <li name={{cNum}}><a>{{cateName}}</a></li>
              {{/each}}
            </ul>
          </div>
        </th>
        <th>wave<br/>
          <div class="dropdown dropdown-wave-search" id="dropdown-wave-search">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="entry-wave-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </button>
            <ul class="dropdown-menu no-csv-output" aria-labelledby="entry-cate-search">
              <li name=0><a><span class="caret"></span></a></li>
              {{#each waveList}}
              <li name={{wNum}}><a>{{waveName}}</a></li>
              {{/each}}
            </ul>
          </div>
        </th>
        <th data-toggle="false">誓約書</th>
        <th data-toggle="false">受付</th>
        <th data-toggle="false">召集</th>
        <th>氏</th>
        <th>名</th>
        <th class="hidden-xs hidden-sm">誕生日</th>
        <th align="center">年齢<br>学年</th>
        <th align="center">性別</th>
        <th class="hidden-xs hidden-sm" align="center">〒</th>
        <th class="visible-lg col-lg-3">住所<div class="hidden">1","住所2</div></th>
        <th class="hidden-xs hidden-sm">e-mail</th>
        <th>子の氏</th>
        <th>子の名</th>
        <th class="hidden-xs hidden-sm">子の誕生日</th>
        <th class="hidden-xs hidden-sm">子の性別</th>
        <th class="hidden-xs hidden-sm">id</th>
      </tr>
      <tr>
        <td align="center" class="hidden-xs">
          <button type="button" class="btn btn-default btn-xs edit-entrylist" data-toggle="modal" data-target="#formEditEntryModal" data-id="0" id="edit-entry-modal-0">
          <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
          </button>
        </td>
        <td align="center">
          <button type="button" class="btn btn-default btn-xs btn-block" data-toggle="button"  autocomplete="on" id="btnEntryRaceNumEditable" >
          <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td align="center">
          <button type="button" class="btn btn-default btn-xs btn-block" data-toggle="button"  autocomplete="on" id="btnEntryCateEditable">
          <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td align="center">
          <button type="button" class="btn btn-default btn-xs btn-block" data-toggle="button"  autocomplete="on" id="btnEntryWaveEditable">
          <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td align="center">
          <button type="button" class="btn btn-default btn-xs btn-block" data-toggle="button"  autocomplete="on" id="btnEntryConfirmationEditable">
          <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td align="center">
          <button type="button" class="btn btn-default btn-xs btn-block" data-toggle="button" autocomplete="on" id="btnEntryRegistEditable">
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td align="center">
          <button type="button" class="btn btn-default btn-xs btn-block" data-toggle="button"  autocomplete="on" id="btnEntryStartEditable">
          <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm" align="center"></td>
        <td class="visible-lg"></td>
        <td class="hidden-xs hidden-sm"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm"></td>
        <td class="hidden-xs hidden-sm" align="center"></td>
        <td class="hidden-xs hidden-sm" align="center"></td>
      </tr>
      <tr>
        <td class="hidden-xs" align="center"></td>
        <td align="center"><a><span class="caret"></span></a></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm" align="center"></td>
        <td class="visible-lg"></td>
        <td class="hidden-xs hidden-sm"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm"></td>
        <td class="hidden-xs hidden-sm" align="center"></td>
        <td class="hidden-xs hidden-sm" align="center"></td>
      </tr>
    </thead>
    <tbody id="entry-list-tbody">
    {{#each entrylist}}
      <tr valign="middle">
      <!-- Button trigger modal -->

        <td align="center" class="hidden-xs">
          <button type="button" class="btn btn-default btn-xs edit-entrylist" data-toggle="modal" data-target="#formEditEntryModal" data-id="{{id}}" id="edit-entry-modal-{{id}}">
          <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td>
           <div class="hidden">
             <div class="no-csv-output">#</div><a>{{racenum}}</a>
           </div>
           <input class="entry-race-num" type="text" id="entry-racenum-{{id}}" name="racenum-{{id}}" value="{{racenum}}" size="4" disabled/>
        </td>
        <td align="center">
          <div class="hidden no-csv-output">cate{{cate}}</div>
          <div class="dropdown dropdown-cate" id="dropdown-cate-{{id}}">
            <button class="btn btn-default btn-xs dropdown-toggle entry-cate" id="entry-cate-{{id}}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" disabled>
            {{#if cate}}
              {{cate}}
            {{else}}
              <a></a>
            {{/if}}
            </button>
            <ul class="dropdown-menu no-csv-output" aria-labelledby="entry-cate-{{id}}">
              <li name=0><a><span class="caret"></span></a></li>
              {{#each cateList}}
              <li name={{cNum}}><a>{{cateName}}</a></li>
              {{/each}}
            </ul>
          </div>
        </td>
        <td align="center">
          <div class="hidden">
            <div class="no-csv-output">wave</div><a>{{wave}}</a>
          </div>
          <input class="entry-wave" type="text" id="entry-wave-{{id}}"  name="wave-{{id}}" value="{{wave}}" size="3" disabled/>
        </td>
        <td align="center">
          <div class="hidden"><div class="no-csv-output">f</div>{{confirmation}}</div>
          <label>
            <input type="checkbox" name="confirmation-{{id}}" id="entry-confirmation-{{id}}" class="checkbox01-input entry-confirmation confirmed" {{confirmation}} disabled>
            <span class="checkbox01-parts"></span>
          </label>
        </td>
        <td align="center" valign="middle">
          <div class="hidden"><div class="no-csv-output">r</div>{{regist}}</div>
          <label>
            <input type="checkbox" name="regist-{{id}}" id="entry-regist-{{id}}" class="checkbox01-input entry-regist confirmed" {{regist}} disabled>
            <span class="checkbox01-parts"></span>
          </label>
        </td>
        <td align="center">
          <div class="hidden"><div class="no-csv-output">s</div>{{start}}</div>
          <label>
            <input type="checkbox" name="start-{{id}}" id="entry-start-{{id}}" class="checkbox01-input entry-start confirmed" {{start}} disabled>
            <span class="checkbox01-parts"></span>
          </label>
        </td>
        <td align="center">
          <div id="entry-lname-{{id}}">{{lname}}</div><div class="hidden">","</div><div id="entry-myouji-{{id}}">{{myouji}}</div>
        </td>
        <td align="center">
          <div id="entry-fname-{{id}}">{{fname}}</div><div class="hidden">","</div><div id="entry-namae-{{id}}">{{namae}}</div>
        </td>
        <td class="hidden-xs hidden-sm">
          <div id="entry-birthday-{{id}}">{{birthday}}</div>
        </td>
        <td align="center">
          <div id="entry-grade-{{id}}">{{grade}}</div>
        </td>
        <td class="hidden-xs entry-sex" align="center">
          <div id="entry-sex-{{id}}">{{sex}}</div>
        </td>
        <td class="hidden-xs">
          <div id="entry-zip-{{id}}"><div class="no-csv-output">〒</div>{{zip1}}-{{zip2}}</div>
        </td>
        <td class="hidden-xs hidden-sm">
          <div id="entry-address1-{{id}}">{{address1}}</div><div class="hidden">","</div><div id="entry-address2-{{id}}">{{address2}}</div>
        </td>
        <td class="hidden-xs hidden-sm hidden-md">
          <div id="entry-email-{{id}}">{{email}}</div>
        </td>
        <td align="center">
          <div id="entry-lname2-{{id}}">{{lname2}}</div><div class="hidden">","</div><div id="entry-myouji2-{{id}}">{{myouji2}}</div>
        </td>
        <td align="center">
          <div id="entry-fname2-{{id}}">{{fname2}}</div><div class="hidden">","</div><div id="entry-namae2-{{id}}">{{namae2}}</div>
        </td>
        <td class="hidden-xs hidden-sm">
          <div id="entry-birthday2-{{id}}">{{birthday2}}</div>
        </td>
        <td class="hidden-xs hidden-sm entry-sex2" align="center">
          <div id="entry-sex2-{{id}}">{{sex2}}</div>
        </td>
        <td class="hidden-xs hidden-sm" align="center">
          <div id="entry-id-{{id}}">{{id}}<div>
        </td>
      </tr>
    {{/each }}
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

<p>
  <button id="dl" class="btn btn-primary">Download CSV</button>
  <button id="printCard" class="btn btn-primary">Print Number Card</button>
</p>

<script>
	$("#dl").click(function(){
    var noCSV=$(".no-csv-output").detach();
	  $("#entrylist").table2csv({
      filename:'entrylist.csv',
      separator: ',',
  		newline: '\n',
  		quoteFields: true,
  		excludeColumns: '',
  		excludeRows: ''
    });
    noCSV=null;
    location.reload();
	});
</script>


<!-- Modal -->

<div class="container modal fade" id="formEditEntryModal" tabindex="-1" role="dialog" aria-labelledby="formAddEntryModalLabel">


  <div class="row modal-dialog" role="document">
    <div class="modal-content">
      <form id="entry-modal-form" action="javascript:postEntryByModalForm()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="formAddEntryModalLabel">Add Entry</h4>
        </div>
        <div class="modal-body">
          <div class="form-inline" align="center">
            <div class="form-input col-lg-4">
              <label>レース番号</label><br>
              <textarea type="text" placeholder="001" name="racenum" id="modal-racenum"></textarea>
            </div>

            <div class="dropdown modal-dropdown col-lg-4" id="modal-dropdown-cate">
              <label>カテゴリ</label><br>
              <button class="btn btn-default btn-xs dropdown-toggle entry-cate" id="modal-cate" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <a></a>
              </button>
              <ul class="dropdown-menu no-csv-output" aria-labelledby="entry-cate-modal">
                <li name=0><a><span class="caret"></span></a></li>
                {{#each cateList}}
                <li name={{cNum}}><a>{{cateName}}</a></li>
                {{/each}}
              </ul>
            </div>
            <div class="form-input col-lg-4">
              <label>wave</label><br>
              <textarea type="text" placeholder="01" name="wave" id="modal-wave"></textarea>
            </div>
          </div>

          <hr />
          <div class="input-group">
            <label>氏　　名</label><br>
            <textarea type="text" class="col-lg-6" placeholder="氏" name="modal-myouji" id="modal-myouji"></textarea>
            <textarea type="text" class="col-lg-6" placeholder="名" name="modal-namae" id="modal-namae"></textarea>
          </div>
          <div class="input-group">
            <label>ふりがな</label><br>
            <textarea type="text" class="col-lg-6" placeholder="みょうじ" name="modal-lname" id="modal-lname"></textarea>
            <textarea type="text" class="col-lg-6" placeholder="なまえ" name="modal-fname" id="modal-fname"></textarea>
          </div>

          <div class="form-inline">
            <div class="input-group col-lg-4">
              <label>誕生日</label><br>
              <textarea type="tex" class="col-lg-12" id="modal-birthday" placeholder="YYYY/MM/DD" name="modal-birthday"></textarea>
            </div>
            <div class="form-group col-lg-2">
              <label>性別</label>
              <div class="dropdown modal-dropdown" id="modal-dropdown-sex">
                <button class="btn btn-default dropdown-toggle" type="button" id="modal-sex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  男
                </button>
                <ul class="dropdown-menu" aria-labelledby="modal-sex">
                  <li><a>男</a></li>
                  <li><a>女</a></li>
                </ul>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>学年（親子リレーも含む）</label>
              <div class="dropdown modal-dropdown" id="modal-dropdown-grade">
                <button class="btn btn-default dropdown-toggle" type="button" id="modal-grade" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                </button>
                <ul class="dropdown-menu" aria-labelledby="modal-grade">
                  <li><a>-</a></li>
                  {{#each gradeList}}
                  <li><a>{{gradeName}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>住所</label><br>
            <div class="input-group">
              <span class="input-group-addon">
                <div class="form-input">
                  <label>郵便番号</label><br>
                  <textarea type="text" placeholder="123-4567" name="zip" id="modal-zip"></textarea>
                </div>
                <button class="btn btn-default" type="button" id="modal-zip-button">〒→</button>
              </span>
              <textarea type="text" class="form-control" placeholder="東京都大田区萩中３−２６−４６" name="address1" id="modal-address1"></textarea>
              <textarea type="text" class="form-control" placeholder="萩中荘２号室" name="address2" id="modal-address2"></textarea>
            </div>
          </div>
          <div class="input-group">
            <label>e-mail</label><br>
            <textarea type="email" class="form-contol col-lg-12" placeholder="name@domain.com" name="modal-" id="modal-email"></textarea>
          </div>

          <hr />

          <div class="input-group">
            <label>お子さんの氏名</label><br>
            <textarea type="text" class="col-lg-6" placeholder="氏" name="myouji2" id="modal-myouji2"></textarea>
            <textarea type="text" class="col-lg-6" placeholder="名" name="namae2" id="modal-namae2"></textarea>
          </div>

          <div class="input-group">
            <label>お子さんのふりがな</label><br>
            <textarea type="text" class="col-lg-6" placeholder="みょうじ" name="lname2" id="modal-lname2"></textarea>
            <textarea type="text" class="col-lg-6" placeholder="なまえ" name="fname2" id="modal-fname2"></textarea>
          </div>

          <div class="form-inline">
            <div class="input-group col-lg-4">
              <label>お子さんの誕生日</label><br>
              <textarea type="text" class="form-control col-lg-12" placeholder="YYYY/MM/DD" name="birthday2" id="modal-birthday2"></textarea>
            </div>
            <div class="form-group col-lg-2">
              <div class="dropdown modal-dropdown" id="modal-dropdown-sex2">
                <label>性別</label><br>
                <button class="btn btn-default dropdown-toggle" type="button" id="modal-sex2"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" name="sex2">
                男
                </button>
                <ul class="dropdown-menu" aria-labelledby="modal-sex2">
                <li><a>-</a></li>
                <li><a>男</a></li>
                <li><a>女</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="delete" class="btn btn-denger col-lg-2 col-md-3" data-dismiss="modal" id="modal-delete">削除</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取り消し</button>
          <input type="submit" class="btn btn-primary" value="登録" />
        </div>
      </form>
    </div>
  </div>
</div>
