<!--

   表彰リストテンプレート

-->

<script src="/js/prize.js"></script>
<script type="text/javascript" src="/js/printcertificate.js"></script>
<script type="text/javascript" src="/js/table2csv.js"></script>
<script type="text/javascript" src="/js/jquery.redirect.js"></script>
<script type="text/javascript" src="/js/decimal.min.js"></script>
<script type="text/javascript" src="/js/aqsysCoder.js" ></script>

<input class="hidden" type="text" id="variable-handler" name="variable-handler" value="{{configString}}" disabled/>

<h2 class="page-header">prize List</h2>
<hr>

<div class="well table-responsive" width="100%">
  <table class="table table-condensed" id="prizelist">
    <thead>
      <tr>
        <th>#</th>

        <th>cate<br/>
          <div class="dropdown dropdown-cate-search" id="dropdown-cate-search">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="prize-cate-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </button>
            <ul class="dropdown-menu no-csv-output" aria-labelledby="prize-cate-search">
              <li name=0><a><span class="caret"></span></a></li>
              {{#each cateList}}
              <li name={{cNum}}><a>{{cateName}}</a></li>
              {{/each}}
            </ul>
          </div>
        </th>
        <th><div class="hidden-sm">wave<br/></div>
          <div class="dropdown dropdown-wave-search" id="dropdown-wave-search">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="prize-wave-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </button>
            <ul class="dropdown-menu no-csv-output" aria-labelledby="prize-cate-search">
              <li name=0><a><span class="caret"></span></a></li>
              {{#each waveList}}
              <li name={{wNum}}><a>{{waveName}}</a></li>
              {{/each}}
            </ul>
          </div>
        </th>
        <th>氏</th>
        <th>名</th>
        <th align="center">性別</th>
        <th align="center">年齢学年:G</th>
        <th class="hidden-xs hidden-sm" align="center">〒</th>
        <th>親の氏</th>
        <th>親の名</th>
        <th class="hidden-xs hidden-sm" align="center">親の性別</th>

        <th align="center">タイム:T</th>
        <th align="center">カテゴリー順位:P</th>
        <th align="center">学年年代順位:Q</th>
        <th align="center">大田区賞:R</th>
        <th class="hidden"></th>
      </tr>

      <tr>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm" align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm" ligin="center"></td>
        <td align="center">
          <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="prize-ttime-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="modal-grade">
              <li><a id="prize-ttime-caret"><span class="caret"></span></a></li>
              <li><a id="prize-ttime-editable">編集</a></li>
              <li><a id="prize-ttime-autofill">自動評価</a></li>
              <li><a id="prize-ttime-remove">消去</a></li>
            </ul>
          </div>
        </td>
        <td align="center">
          <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="prize-1-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="modal-grade">
              <li><a id="prize-1-caret"><span class="caret"></span></a></li>
              <li><a id="prize-1-editable">編集</a></li>
              <li><a id="prize-1-autofill">自動評価</a></li>
              <li><a id="prize-1-remove">消去</a></li>
            </ul>
          </div>
        </td>
        <td align="center">
          <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="prize-2-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="modal-grade">
              <li><a id="prize-2-caret"><span class="caret"></span></a></li>
              <li><a id="prize-2-editable">編集</a></li>
              <li><a id="prize-2-autofill">自動評価</a></li>
              <li><a id="prize-2-remove">消去</a></li>
            </ul>
          </div>
        </td>
        <td align="center">
          <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="prize-3-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="modal-grade">
              <li><a id="prize-3-caret"><span class="caret"></span></a></li>
              <li><a id="prize-3-editable">編集</a></li>
              <li><a id="prize-3-autofill">自動評価</a></li>
              <li><a id="prize-3-remove">消去</a></li>
            </ul>
          </div>
        </td>
        <td class="hidden"></td>
      </tr>
      <tr>
        <td align="center"><span class="caret"></span></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm" align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden-xs hidden-sm" align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td align="center"></td>
        <td class="hidden" align="center"></td>
      </tr>

  </thead>
    <tbody id="prize-list-tbody">
      {{#each prizelist}}
        <tr valign="middle">
          <td>
             <div class="hidden"><div class="no-csv-output">#</div>{{racenum}}</div>
             <input class="prize-race-num" type="text" id="prize-racenum-{{id}}" name="racenum-{{id}}" value="{{racenum}}" size="4" disabled/>
          </td>


          <td align="center">
            <div class="hidden no-csv-output">cate{{cate}}</div>
            <div class="dropdown" id="prize-cate-{{id}}">
              <button class="btn btn-default btn-xs dropdown-toggle prize-cate" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" disabled>
              {{#if cate}}
                {{cate}}
              {{else}}
                <span class="caret"></span>
              {{/if}}
              </button>
              <ul class="dropdown-menu no-csv-output" aria-labelledby="prize-cate-{{id}}">
                {{#each cateList}}
                <li name={{cNum}}><a>{{cateName}}</a></li>
                {{/each}}
              </ul>
            </div>
          </td>
          <td align="center">
            <div class="hidden" id="prize-wave-{{id}}"><div class="no-csv-output">wave</div>{{wave}}<div class="no-csv-output">:</div></div>
            <input class="prize-wave" type="text" name="wave-{{id}}" value="{{wave}}" size="3" disabled/>
          </td>

          <td align="center">
            <div id="prize-lname-{{id}}">{{lname}}</div><div class="hidden">","</div><div class="prize-myouji" id="prize-myouji-{{id}}">{{myouji}}</div>
          </td>
          <td align="center">
            <div id="prize-fname-{{id}}">{{fname}}</div><div class="hidden">","</div><div class="prize-namae" id="prize-namae-{{id}}">{{namae}}</div>
          </td>


          <td class="prize-sex" align="center">
            <div id="prize-sex-{{id}}">{{sex}}</div>
          </td>
          <td align="center">
            <div id="prize-grade-{{id}}">
              <div class="hidden  no-csv-output">g</div>
              <a>{{grade}}</a>
            </div>
          </td>
          <td align="center" class="hidden-xs hidden-sm">
            <div id="prize-zip-{{id}}">
              <div class="no-csv-output">〒</div>
              <a>{{zip1}}</a></div>
          </td>
          <td align="center">
            <div id="prize-lname2-{{id}}">{{lname2}}</div><div class="hidden">","</div><div id="prize-myouji2-{{id}}">{{myouji2}}</div>
          </td>

          <td align="center">
            <div id="prize-fname2-{{id}}">{{fname2}}</div><div class="hidden">","</div><div id="prize-namae2-{{id}}">{{namae2}}</div>
          </td>
          <td class="hidden-xs hidden-sm prize-sex2" align="center">
            <div id="prize-sex2-{{id}}">{{sex2}}</div>
          </td>

          <td align="center">
            <div class="hidden" id="ttime-{{id}}">
              <div class="no-csv-output">t</div>
              <a>{{ttime}}</a>
            </div>
            <input class="prize-ttime" type="text" id="prize-ttime-{{id}}" name="ttime-{{id}}" value="{{ttime}}" size="11" disabled/>
          </td>

          <td align="center">
            <div class="hidden" id="prize-1-{{id}}">
              <div class="no-csv-output">p{{prize1}}$</div><a>{{prize1}}</a>
            </div>
            <input class="prize-1" type="text" name="prize-1-{{id}}" value="{{prize1}}" size="2" disabled/>
          </td>
          <td align="center">
            <div class="hidden" id="prize-2-{{id}}">
              <div class="no-csv-output">q{{prize2}}$</div><a>{{prize2}}</a>
            </div>
            <input class="prize-2" type="text" name="prize-2-{{id}}" value="{{prize2}}" size="2" disabled/>
          </td>
          <td align="center">
            <div class="hidden" id="prize-3-{{id}}">
              <div class="no-csv-output">r{{prize3}}$</div><a>{{prize3}}</a>
            </div>
            <input class="prize-3" type="text" name="prize-3-{{id}}" value="{{prize3}}" size="2" disabled/>
          </td>
          <td class="hidden" align="center">
            <div id="prize-id-{{id}}">{{id}}<div>
          </td>
        </tr>
      {{/each }}
    </tbody>
  </table>
</div>
<p>
  <button id="dl" class="btn btn-primary">Download CSV</button>
  <button id="printCertificate" class="btn btn-primary">Print Winner Certificate</button>
</p>

<script>
	$("#dl").click(function(){
    var noCSV=$(".no-csv-output").detach();
	  $("#prizelist").table2csv({
      filename:'prizelist.csv',
      separator: ',',
  		newline: '\n',
  		quoteFields: true,
  		excludeColumns: '',
  		excludeRows: ''
    });
    noCSV=null;
    location.reload();
	});
</script>
