<!--

   ログインユーザ定義フォームテンプレート

-->

<h2 class="page-header">Register</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/register">
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name" value="{{name}}">
  </div>
  <div class="form-group">
    <label>Login ID</label>
    <input type="text" class="form-control" placeholder="LoginID" name="username" value="{{user}}">
  </div>
  <div class="form-group">
    <label>SQL Schema</label>
    <input type="text" class="form-control" placeholder="Schemaname" name="schemaname" value="{{schemaname}}">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email" value="{{eMail}}">
  </div>
  <div class="form-group">
    <label>年齢基準日</label>
    <input type="text" class="form-control" placeholder="2017/12/31" name="basedate" value="{{basedate}}">
  </div>
  <div class="form-group">
    <label>レースナンバーカードヘッダー</label>
    <input type="text" class="form-control" placeholder="第32回大田区区民スポーツまつり" name="numbercardheader" value="{{numbercardheader}}">
  </div>
  <div class="form-group">
    <label>レースナンバーカードフッター</label>
    <input type="text" class="form-control" placeholder="2015年城南アクアスロンシリーズ第５戦" name="numbercardfooter" value="{{numbercardfooter}}">
  </div>
  <div class="form-group">
    <label>グレードリスト</label>
    <input type="text" class="form-control" placeholder="小学１,小学２,小学３" name="gradesString" value="{{gradesString}}">
  </div>
  <div class="form-group">
    <label>カテゴリーリスト</label>
    <input type="text" class="form-control" placeholder="1:低学年男,2:低学年女,3:低学年女" name="cateString" value="{{cateString}}">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
