<!--

QR read テンプレート

-->
<!--

打刻テンプレート

-->
<script type="text/javascript">
  var tnum={{tnum}};
  var seqnum={{seqnum}};
</script>
<h2 class="hidden page-header" id="page-header-1">レース＃システム入力</h2>
<h2 class="hidden page-header" id="page-header-2">打刻システム入力</h2>
<h2 class="hidden page-header" id="page-header-3">レース＃手入力</h2>
<h2 class="hidden page-header" id="page-header-4">時刻手入力</h2>
<h2 class="hidden page-header" id="page-header-5">{{tnum}}</h2>
<div>
  <table>
    <tr>
      <th style="width:40px">順番</th>
      <th style="width:80px">レース番号</th>
      <th style="width:100px">打刻時刻</th>
    </tr>
  </table>
</div>
<div id="msg_list" style="height:72px; overflow:scroll;">
  <table id="recordlist">
  {{#each recordlist}}
    {{#if seqnum}}
    <tr class='record'>
      <td style="width:40px" align="center" class='seqnum' id="seqnum-{{seqnum}}">{{seqnum}}</td>
      <td style="width:80px" align="center" class='racenum' id="racenum-{{seqnum}}">{{racenum}}</td>
      <td style="width:100px" align="center" class='ftime' id="ftime-{{seqnum}}">{{ftime}}</td>
    </tr>
    {{else}}
    <tr id="startTime">
      <th style="width:40px"></th>
      <th style="width:80px">start time</th>
      <th style="width:100px">{{ftime}}</th>
    </tr>
    {{/if}}
  {{/each }}
</table>
</div>
<div>
<table>
  <tr>
    <td style="width:40px" align="center"></td>
    <td style="width:80px" align="center"></td>
    <td style="width:100px" align="center" id="currentTime">00:00:00.00</td>
  </tr>
</table>
</div>
<form action="" method="put" onsubmit="return false;">
   <input type="text" class="text" style="width:72px; padding:10px"
   id="message" value=""/>
   <input type="submit" class="button btn-primary btn-lg" style="padding:10px" id="submit" value="送信" />
   <!--
   <button class="button btn-primary btn-lg" id="cameraStart">カメラ</button>
   <button class="button btn-primary btn-lg" id="readImage">読み取り</button>
 -->
 </form>
<!--
<video style="width: 500px; height:500px" autoplay />
<script type="text/javascript" src="/js/jsQR.js"></script>
-->
<script type="text/javascript" src="/js/qrread.js"></script>
